# FCU
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="bb10", GROUP="plugdev", TAG+="uaccess"
# FCU + EFIS-R
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="bc1e", GROUP="plugdev", TAG+="uaccess"
# FCU + EFIS-L
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="bc1d", GROUP="plugdev", TAG+="uaccess"
# FCU + EFIS-R + EFIS-L
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="ba01", GROUP="plugdev", TAG+="uaccess"
# MCDU Captain
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="bb36", GROUP="plugdev", TAG+="uaccess"
